@charset "utf-8";
/*
Design by Ningwa
*/
body { margin:0; padding:0; width:100%; color:black; font:normal 16px/1.8em Arial, Helvetica, sans-serif; background:#ffffff url(images/main_bg.gif) repeat-x top;}
html, .main { padding:0; margin:0;}
a { color:9ccdd9; text-decoration:underline;}
a.rm, a.com { padding:0; text-decoration:none;}

/* header */
.header {margin:auto; }
#logo{ text-align:center;}
#name{ font-size:80px;height:auto;width:auto;padding:30px 0;text-align:center;}
/* content */
.content {text-align:center;}
/* footer */
.footer { }
.footer_resize { margin:0 auto; padding:20px 0; width:930px;}
.footer .cf{text-align:center}
.footer p { margin:0; padding:4px 0; width:auto; line-height:1.5em;}
.footer p a { text-decoration:none;}
